<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Portfolio of my porgramming experience">
    <meta name="author" content="Gordon Hamilton">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Gordon Hamilton</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="static/css/swiper.css" rel="stylesheet">
	<link href="static/css/magnific-popup.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <!-- <link rel="icon" href="static/images/favicon.png"> -->
    <link rel="icon" href="static/images/Logo.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
     <!-- style= "overflow: auto;" -->
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Leno</a> -->

        <!-- Image Logo -->
        <!-- <a class="navbar-brand logo-image" href="index.html"><img src="static/images/logo.svg" alt="alternative"></a>  -->
        <!-- <a class="navbar-brand logo-image" href="index.html"><img src="static/images/Logo.png" alt="Gordon's Logo"></a>  -->
        <a class="navbar-brand logo-image" href="/" style="text-decoration: none;">Gordon Hamilton</a> 
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault" style= "font-size: 1.3em;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#features">INTERNSHIPS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#preview">PROJECTS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
                <li style= "margin-top: 3px;"> 
                    <a href="https://github.com/gord02"  style="text-decoration: none;"> <i class="fa fa-github"></i> Github </a> 
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="text-container">
                            <h1>Gordon Hamilton <br>- <span id="js-rotating">C++, Python, Web Development</span></h1>
                            <!-- <p class="p-large">Leno is one of the easiest and feature packed marketing automation apps in the market. Download it today!</p>
                            <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-apple"></i>APP STORE</a>
                            <a class="btn-solid-lg page-scroll" href="#your-link"><i class="fab fa-google-play"></i>PLAY STORE</a> -->
                        </div>
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="static/images/header-iphone.png" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
    

    <!-- INTERNSHIPS -->
    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>INTERNSHIPS</h2>
                    <!-- <div class="p-heading p-large">Leno was designed based on input from personal development coaches and popular trainers so it offers all</div> -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="lenoTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-cog"></i>CONFIGURING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-binoculars"></i>TRACKING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-search"></i>MONITORING</a>
                    </li>
                </ul>
                <!-- end of tabs links -->


                <!-- Tabs Content-->
                <div class="tab-content" id="lenoTabsContent">
                    
                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="container">
                            <div class="row">
                                
                                <!-- Icon Cards Pane -->
                                <div class="col-lg-4">
                                    <div class="card left-pane first">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Goal Setting</h4>
                                                <p>Like any self improving process, everything starts with setting your goals and committing to them</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-compass"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Visual Editor</h4>
                                                <p>Leno provides a well designed and ergonomic visual editor for you to edit your notes and input data</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card left-pane">
                                        <div class="card-body">
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Refined Options</h4>
                                                <p>Each option packaged in the app's menus is provided in order to improve your personal development status</p>
                                            </div>
                                            <div class="card-icon">
                                                <i class="far fa-gem"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of icon cards pane -->

                                <!-- Image Pane -->
                                <div class="col-lg-4">
                                    <img class="img-fluid" src="static/images/features-iphone-1.png" alt="alternative">
                                </div>
                                <!-- end of image pane -->
                                
                                <!-- Icon Cards Pane -->
                                <div class="col-lg-4">
                                    <div class="card right-pane first">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Calendar Input</h4>
                                                <p>Schedule your appointments, meetings and periodical evaluations using the provided in-app calendar option</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card right-pane">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Easy Reading</h4>
                                                <p>Reading focus mode for long form articles, ebooks and other materials which involve large text areas</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card right-pane">
                                        <div class="card-body">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="text-wrapper">
                                                <h4 class="card-title">Good Foundation</h4>
                                                <p>Get a solid foundation for your self development efforts. Try Leno mobile app for any mobile platform</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of icon cards pane -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="container">
                            <div class="row">

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="static/images/features-iphone-2.png" alt="alternative">
                                </div>
                                <!-- end of image pane -->
                                
                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="text-area">
                                        <h3>Track Result Based On Your</h3>
                                        <p>After you've configured the app and settled on the data gathering techniques you can not start the information trackers and start collecting those <a class="turquoise" href="#your-link">interesting details</a>. You can always change them.</p>
                                    </div> <!-- end of text-area -->
                                    
                                    <div class="icon-cards-area">
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="fas fa-cube"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Good Foundation</h4>
                                                    <p>Get a solid foundation for your self development efforts. Try Leno mobile app for any mobile platform</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="far fa-bookmark"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Easy Reading</h4>
                                                    <p>Reading focus mode for long form articles, ebooks and other materials which involve large text areas</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="far fa-calendar-check"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Calendar Input</h4>
                                                    <p>Schedule your appointments, meetings and periodical evaluations using the provided in-app calendar option</p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-icon">
                                                    <i class="far fa-file-code"></i>
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">Visual Editor</h4>
                                                    <p>Leno provides a well designed and ergonomic visual editor for you to edit your notes and input data</p>
                                                </div>
                                            </div>
                                    </div> <!-- end of icon cards area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="container">
                            <div class="row">

                                <!-- Text And Icon Cards Area -->
                                <div class="col-md-8">
                                    <div class="icon-cards-area">
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Calendar Input</h4>
                                                <p>Schedule your appointments, meetings and periodical evaluations using the provided in-app calendar option</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-file-code"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Visual Editor</h4>
                                                <p>Leno provides a well designed and ergonomic visual editor for you to edit your notes and input data</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="fas fa-cube"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Good Foundation</h4>
                                                <p>Get a solid foundation for your self development efforts. Try Leno mobile app for any mobile platform</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-icon">
                                                <i class="far fa-bookmark"></i>
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">Easy Reading</h4>
                                                <p>Reading focus mode for long form articles, ebooks and other materials which involve large text areas</p>
                                            </div>
                                        </div>
                                    </div> <!-- end of icon cards area -->
                                    
                                    <div class="text-area">
                                        <h3>Monitoring Tools Evaluation</h3>
                                        <p>Monitor the evolution of your finances and health state using tools integrated in Leno. The generated real time reports can be filtered based on any <a class="turquoise" href="#your-link">desired criteria</a>.</p>
                                    </div> <!-- end of text-area -->
                                </div> <!-- end of col-md-8 -->
                                <!-- end of text and icon cards area -->

                                <!-- Image Pane -->
                                <div class="col-md-4">
                                    <img class="img-fluid" src="static/images/features-iphone-3.png" alt="alternative">
                                </div>
                                <!-- end of image pane -->
                                    
                            </div> <!-- end of row -->
                        </div> <!-- end of container -->
                    </div><!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of row --> 
        </div> <!-- end of container --> 
    </div> <!-- end of tabs -->
    <!-- end of features -->


    <!-- PROJECTS -->
    <div id="preview" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>PROJECTS</h2>
                </div> 
            </div> 
            <div class="row" style= "justify-content: center; width: 100%">
                <div class="col-lg-12" style="margin-left: 10px; width: 100%;">
                    <div style="margin-left: 150px;">
                        <!-- Button trigger modal -->
                        <button style="width: 230px; height:230px; margin: 10px; border-radius: 20px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl"> RESTFUL Blog App </button>
                        <!-- Modal -->
                        <div class="modal fade" id="mdl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style= "margin-left: 24.5%; background-color: wheat;">
                                <div class="modal-content" style="width:1500px; margin: auto; margin-top: 50px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">RESTFUL Blog App </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div style="height: 700px;" class="modal-body">
                                        <img style= "height: 80%;"src="static/images/restfulblogapp.png" class="img-responsive" alt="RESTFUL blog App">
                                            <p  style="color: black; margin-top: 20px; text-align:center;"> 
                                                This small web application I created was done to help teach myslef how to implement RESTFUL routing.
                                            </p>
                                    

                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success"  style="margin-right: 582px;text-decoration: none;" href="https://github.com/gord02/RESTFULBlogApp">RESTFUL blog App Project on Github</a>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button style="width: 230px; height:230px; margin: 10px; border-radius: 20px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> YelpCamp Project</button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 420px;">
                                <div class="modal-content" style="width:1500px; margin: auto; margin-top: 41px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="color: black; margin-top: 10px;">YelpCamp Project</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div style="height: 700px;" class="modal-body">
                                        <img style= "height: 80%; margin: auto;" src="static/images/yelpcamp.png"class="img-responsive" alt="YelpCamp Project">
                                        <p style="color: black; margin-top: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam aperiam quae obcaecati saepe placeat laudantium soluta voluptates dolor repellat nemo reprehenderit at numquam amet ea, natus molestias inventore quam!</p>

                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success"  style="margin-right: 745px; text-decoration: none;"href="https://github.com/gord02/YelpCamp">YelpCamp Project on Github</a>

                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button style="width: 230px; height:230px; margin: 10px; border-radius: 20px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl2"> Particle Fire Simulator </button>
                        <!-- Modal -->
                        <div class="modal fade" id="mdl2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 26%;">      
                                <div class="modal-content" style="width:1500px; margin: auto; margin-top: 41px;">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Particle Fire Simulator </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div style="height: 700px;" class="modal-body">
                                        <img style= "height: 80%; margin: auto;" src="static/images/particlefire.png" class="img-responsive" alt="Particle fire Simulator">
                                        <p style="color: black; margin-top: 20px;"> Programmed the path and interaction of the particles created and subsequently visually depicted their interaction using the SDL Library. The particle fire simulator is object oriented programming projects that in essence plots colored pixels in a moving pattern that simulates a fire like object</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn btn-success"  style="margin-right: 520px; text-decoration: none;" href="https://github.com/gord02/ParticleFire">Particle fire Simulator Project on Github</a>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" style="margin-left: 10px; width: 100%;">
                    <div style="margin-left: 150px;">
                        <!-- Button trigger modal -->
                            <button style="width: 230px; height:230px; margin: 10px; border-radius: 20px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl3"> Patatap </button>
                        <!-- Modal -->
                        <div class="modal fade" id="mdl3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 465px;">
                                <div class="modal-content" style="width:1500px; margin: auto; margin-top: 41px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Patatap</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="height: 700px;" class="modal-body">
                                            <img style= "height: 80%; margin: auto;" src="static/images/Patatap.png" class="img-responsive" alt="Patatap">
                                            <p style="color: black; margin-top: 20px;"> This project uses libarires that import sound, these sounds are activated when any letter is pressed on keyboard which also produces a circle of varying colors</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-success"  style="margin-right: 662px; text-decoration: none;" href="https://github.com/gord02/Patatap">Patatap Project on Github</a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button style="width: 230px; height:230px; margin: 10px; border-radius: 20px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027);" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl5"> [INSERT PROJECT] </button>
                        <!-- Modal -->
                        <div class="modal fade" id="mdl5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" style="width:1500px; margin: auto; margin-top: 41px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="height: 700px;" class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- Button trigger modal -->
                        <button style="width: 230px; height:230px; margin: 10px; border-radius: 20px; background: linear-gradient(to right, #2C5364, #203A43, #0F2027); " type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdl6"> <p>Comming soon...</p> Exoplanets </button>
                        <!-- Modal -->
                        <div class="modal fade" id="mdl6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="margin-left: 465px;">
                                <div class="modal-content" style="width:1500px; margin: auto; margin-top: 41px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Exoplanets</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="height: 700px;" class="modal-body">
                                            <img style= "height: 80%; margin: auto;" src="https://www.nasa.gov/sites/default/files/thumbnails/image/main_exoplanets.png" alt="Exoplanets">
                                            <p  style="color: black; margin-top: 20px; text-align:center;"> This will be a full-stack web application that is essentially a catalog for exoplanet discroveries!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
      


    <!-- ABOUT ME-->
    <div id="details" class="basic-2" style= "padding-top: 56px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h3>ABOUT ME</h3>
                        <p> Hello, I am a programmer from Ontario, Canada currently in my last year of highschool. I have been programming for the past two years, working tirelessly during the free time I had. I am interested in front-end and back-end development. Outside of computer programming, I am interested in physics more specifically astronomy! For more skill based information please refer to my resume linked below.</p>
                        <!-- <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">LIGHTBOX</a> -->
                      <a class="btn btn-primary"  href="/resume" target="_blank" style="background: #337ab7; margin-left: 40%; text-decoration: none;"><i class="fa fa-file"></i> Resume </a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->

    <!-- Applications -->
    <div class="slider-2">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12" style= "margin-bottom: 20px;">
                    <h2 style="text-align: center;">Tools and Technology</h2>
                </div> 
            </div> 

            <div class="row">
                <div class="col-lg-12">
                    <!-- Image Slider -->
                    <div class="slider-container">
                       <div class="swiper-container image-slider "> 
                            <div class="swiper-wrapper" id="imageSize">
                                
                                <!-- Slide -->
                                <div class="swiper-slide">
                                        <img class="img-fluid" style="height: 180px"  src="https://icon-library.com/images/js-icon/js-icon-13.jpg" alt="alternative">
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <!-- <div class="swiper-slide">
                                        <img class="img-fluid"  style="height: 180px"  src="https://avatars0.githubusercontent.com/u/16322877?s=400&v=4" alt="alternative">
                                </div> -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <!-- <div class="swiper-slide">
                                        <img class="img-fluid"  style="height: 180px" src="https://upload.wikimedia.org/wikipedia/en/c/cd/Anaconda_Logo.png" alt="alternative">
                                </div> -->
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="img-fluid"  style="height: 180px" src="https://cdn.iconscout.com/icon/free/png-256/jquery-7-1175152.png" alt="alternative">
                                </div>
                                <!-- end of slide -->
                                
                                <!-- Slide -->
                                <div class="swiper-slide"> 
                                    <img class="img-fluid" style="height: 180px;" src="https://smyl.es/wurdp/assets/mongodb.png" alt="alternative">
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="img-fluid" style="height: 180px" src="https://cdn0.iconfinder.com/data/icons/HTML5/512/HTML_Logo.png" alt="alternative">
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="img-fluid" style="height: 180px" src="https://cdn.iconscout.com/icon/free/png-512/javascript-2038874-1720087.png" alt="alternative">
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="img-fluid" style= "height: 180px"  src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/359/full/expressjslogo.png" alt="alternative">
                                </div>
                                <!-- end of slide -->

                                <!-- Slide -->
                                <div class="swiper-slide">
                                    <img class="img-fluid" style="height: 180px" src="https://websitehostreview.com/wp-content/uploads/2015/06/flask.png" alt="alternative">
                                </div>
                                <!-- end of slide -->
                                  <!-- Slide -->
                                  <div class="swiper-slide">
                                    <img class="img-fluid" style= "height: 180px; "  src="https://git-scm.com/images/logos/downloads/Git-Icon-Black.png" alt="alternative">
                                </div>
                                <!-- end of slide -->
                                  <!-- Slide -->
                                  <div class="swiper-slide">
                                    <img class="img-fluid" style= "height: 180px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png" alt="alternative">
                                </div>
                                <!-- end of slide -->
                                    <!-- Slide -->
                                    <div class="swiper-slide">
                                        <img class="img-fluid" style= "height: 180px" src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" alt="alternative">
                                    </div>
                                    <!-- end of slide -->
                                
                            </div> <!-- end of swiper-wrapper -->

                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <!-- end of add arrows -->


                        </div> <!-- end of swiper-container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->
                </div> <!-- end of col -->
            </div>

            <div class="row">
                <div class="col-lg-12" style= "margin-bottom: 20px;">
                    <h3 style= "margin-top: 25px;" >Technical Skillset:</h3>
                </div> 
            </div>

            <div class="row">
                <table style= "width: 100%; text-align: center;">
                    <tr>
                        <td style="width: 139px;">Conda</td>
                        <td style="width: 139px;">MongoDB </td>
                        <td style="width: 139px;">NodeJS</td>
                        <td style="width: 139px;">JQuery</td>
                        <td style="width: 139px;">Mongoose</td>
                        <td style="width: 139px;">Express Flask</td>
                    </tr>
                </table>
            </div>


        </div> <!-- end of container -->
    </div> <!-- end of slider-2 -->
    <!-- end of screenshots -->




    <!-- Statistics -->
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Counter -->
                    <div id="counter" style="margin-right: 10%;">
                        <!-- <div style= "background: green;"> -->
                            <div class="cell">
                                <div class="counter-value number-count" data-count="1">1</div>
                                <p class="counter-info">Internships</p>
                            </div>
                            <div class="cell">
                                <div class="counter-value number-count" data-count="1">1</div>
                                <p class="counter-info">Hackathons</p>
                            </div>
                            <div class="cell" >
                                <div class="counter-value number-count" data-count="2" style= "margin-left: 18px;">1</div>
                                <p style= "width: 147px;" class="counter-info">Years of programming</p>
                            </div>
                        <!-- </div> -->
                        <!-- <div style= "background: blue; float: left;"> -->
                            <div class="cell">
                                <div class="counter-value number-count" data-count="5" style= "margin-left: 65px;">1</div>
                                <p class="counter-info" style=" width: 193px;">Online Programming Courses</p>
                            </div>
                        <!-- </div> -->
                    </div>
                    <!-- end of counter -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->


    <!-- Contact -->
    <div id="contact" class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>CONTACT</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    
                    <!-- Contact Form -->
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">SUBMIT MESSAGE</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-4">
                    <div class="footer-col">
                        <h4>About Leno</h4>
                        <p>We're passionate about creating the best mobile apps for personal development</p>
                    </div>
                </div> end of col -->
                <!-- <div class="col-md-4">
                    <div class="footer-col middle">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Our business partners <a class="turquoise" href="#your-link">startupguide.com</a></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Read our <a class="turquoise" href="terms-conditions.html">Terms & Conditions</a>, <a class="turquoise" href="privacy-policy.html">Privacy Policy</a></div>
                            </li>
                        </ul>
                    </div>
                </div> end of col -->
                <div class="col-md-6" style= "margin: auto;">
                    <div class="footer-col last" style= "margin-left: 40%;">
                        <h4>Social Media</h4>
                        <!-- <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span> -->
                        <div style= "margin-left: -10px;">
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-google-plus-g fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="https://github.com/gord02">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x"></i>
                                </a>
                            </span>
                            <span class="fa-stack">
                                <a href="#your-link">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x"></i>
                                </a>
                            </span>
                        </div>
                    </div> 
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2020 Gordon Hamilton </p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
    
    	
    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="static/js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="static/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="static/js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="static/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>